;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Fri Sep  7 17:51:52 2012
;; Desktop file format version 206
;; Emacs version 23.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("files_chec	" "snprintf" "snprit" "itoa" " " "ifdef" "itoa_whole" "snprintf"))
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/aleph/tests/strings/Makefile" "~/aleph/avr32/config.mk" "~/aleph/common/simple_string.h" "~/aleph/common/simple_string.c" "~/aleph/common/simple_string.h" "~/aleph/avr32/src/scene.c" "~/aleph/avr32/src/files.c" "~/aleph/common/" "~/aleph/avr32/config.mk" "~/aleph/common/fix.h" "~/aleph/common/fix.c" "~/aleph/avr32/src/scene.c" "~/aleph/common/files.h" "~/aleph/avr32/" "~/aleph/common/screen.h" "~/aleph/avr32/src/screen.h" "~/aleph/common/fix.h" "~/aleph/avr32/common/" "~/aleph/common/fix.h" "~/aleph/common/fix.c" "~/aleph/common/" "~/aleph/bees/op_math.h" "~/aleph/bees/scene.h" "~/aleph/avr32/config.mk" "~/aleph/avr32/src/screen.c" "~/aleph/avr32/src/scene.c" "~/aleph/bees/scene.h" "~/aleph/bees/scene.c" "~/aleph/avr32/src/files.c" "~/aleph/avr32/conf/conf_aleph.h"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/emb/aleph/avr32/src/screen.c"
  "screen.c"
  'c-mode
  '(abbrev-mode)
  5431
  '(5798 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/aleph/avr32/config.mk"
  "config.mk"
  'makefile-gmake-mode
  nil
  299
  '(453 nil)
  nil
  nil
  '((indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/aleph/tests/strings/Makefile"
  "Makefile"
  'makefile-gmake-mode
  nil
  1
  '(nil nil)
  nil
  nil
  '((indent-tabs-mode . t)))

(desktop-create-buffer 206
  "/home/emb/aleph/avr32/src/files.c"
  "files.c"
  'c-mode
  '(abbrev-mode)
  2481
  '(375 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/aleph/common/files.h"
  "files.h"
  'c-mode
  '(abbrev-mode)
  80
  '(302 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/avr/asf-3.1.3/avr32/services/fs/fat/fat.c"
  "fat.c"
  'c-mode
  '(abbrev-mode)
  1992
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "/home/emb/aleph/common/simple_string.c"
  "simple_string.c"
  'c-mode
  '(abbrev-mode)
  359
  '(353 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/home/emb/aleph/common/simple_string.h"
  "simple_string.h"
  'c-mode
  '(abbrev-mode)
  194
  '(95 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/aleph/common/fix.c"
  "fix.c"
  'c-mode
  '(abbrev-mode)
  1945
  '(244 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/aleph/avr32/src/scene.c"
  "scene.c<2>"
  'c-mode
  '(abbrev-mode)
  1492
  '(736 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/home/emb/aleph/avr32/src/main.c"
  "main.c"
  'c-mode
  '(abbrev-mode)
  5144
  '(5144 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/aleph/bees/redraw.c"
  "redraw.c"
  'c-mode
  '(abbrev-mode)
  113
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "/home/emb/aleph/common/print_fix.c"
  "print_fix.c"
  'c-mode
  '(abbrev-mode)
  796
  '(466 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/aleph/common/fix.h"
  "fix.h"
  'c-mode
  '(abbrev-mode)
  530
  '(470 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "common"
  'dired-mode
  nil
  1062
  '(nil nil)
  t
  '("/home/emb/aleph/common/")
  nil)

(desktop-create-buffer 206
  nil
  "avr32"
  'dired-mode
  nil
  1168
  '(nil nil)
  t
  '("/home/emb/aleph/avr32/")
  nil)

(desktop-create-buffer 206
  "/home/emb/aleph/common/screen.h"
  "screen.h"
  'c-mode
  '(abbrev-mode)
  1793
  '(1904 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/aleph/bees/op_math.h"
  "op_math.h"
  'c-mode
  '(abbrev-mode)
  778
  '(635 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/aleph/bees/scene.h"
  "scene.h"
  'c-mode
  '(abbrev-mode)
  469
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/aleph/avr32/conf/conf_aleph.h"
  "conf_aleph.h"
  'c-mode
  '(abbrev-mode)
  200
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "src"
  'dired-mode
  nil
  1937
  '(nil nil)
  t
  '("/home/emb/aleph/avr32/src/")
  nil)

(desktop-create-buffer 206
  "/home/emb/aleph/avr32/crt0.S"
  "crt0.S"
  'asm-mode
  nil
  4348
  '(3485 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "/home/emb/aleph/common/print_fix.h"
  "print_fix.h"
  'c-mode
  '(abbrev-mode)
  478
  '(390 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/aleph/bees/op.c"
  "op.c"
  'c-mode
  '(abbrev-mode)
  1
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/aleph/bees/net.c"
  "net.c"
  'c-mode
  '(abbrev-mode)
  654
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

