;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Tue Oct  9 22:10:21 2012
;; Desktop file format version 206
;; Emacs version 23.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/aleph/null/" "~/aleph/common/param_common.h" "~/aleph/null/modules/osc2/osc2.h" "~/aleph/null/modules/osc2/" "~/aleph/null/" "~/sandbox/Param.c" "~/sandbox/Param.h" "~/sandbox/Module.h" "~/sandbox/" "~/sandbox/sbx-echo/sbx-echo.h"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/emb/aleph/common/param_common.h"
  "param_common.h"
  'c-mode
  '(abbrev-mode)
  1202
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "modules"
  'dired-mode
  nil
  405
  '(nil nil)
  t
  '("/home/emb/aleph/null/modules/")
  nil)

(desktop-create-buffer 206
  nil
  "osc2"
  'dired-mode
  nil
  175
  '(nil nil)
  t
  '("/home/emb/aleph/null/modules/osc2/")
  nil)

(desktop-create-buffer 206
  "/home/emb/aleph/null/modules/osc2/osc2.h"
  "osc2.h"
  'c-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/aleph/null/modules/osc2/osc2.c"
  "osc2.c"
  'c-mode
  '(abbrev-mode)
  1362
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/aleph/null/modules/echo/echo_data.c"
  "echo_data.c"
  'c-mode
  '(abbrev-mode)
  1373
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/aleph/null/modules/echo/echo.c"
  "echo.c"
  'c-mode
  '(abbrev-mode)
  155
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/aleph/null/modules/echo/echo_data.C"
  "echo_data.C"
  'c++-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "echo"
  'dired-mode
  nil
  377
  '(nil nil)
  t
  '("/home/emb/aleph/null/modules/echo/")
  nil)

(desktop-create-buffer 206
  "/home/emb/aleph/null/modules/echo/Makefile"
  "Makefile<2>"
  'makefile-gmake-mode
  nil
  1
  '(nil nil)
  nil
  nil
  '((indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "null"
  'dired-mode
  nil
  312
  '(nil nil)
  t
  '("/home/emb/aleph/null/")
  nil)

(desktop-create-buffer 206
  "/home/emb/aleph/null/core.mk"
  "core.mk"
  'makefile-gmake-mode
  nil
  1
  '(nil nil)
  nil
  nil
  '((indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/sandbox/Param.h"
  "Param.h"
  'c-mode
  '(abbrev-mode)
  1076
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/sandbox/Param.c"
  "Param.c"
  'c-mode
  '(abbrev-mode)
  1783
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/sandbox/Module.h"
  "Module.h"
  'c-mode
  '(abbrev-mode)
  453
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/sandbox/sbx-echo/sbx-echo.c"
  "sbx-echo.c"
  'c-mode
  '(abbrev-mode)
  1212
  '(1714 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/sandbox/sbx-echo/sbx-echo.h"
  "sbx-echo.h"
  'c-mode
  '(abbrev-mode)
  412
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "sbx-echo"
  'dired-mode
  nil
  552
  '(nil nil)
  t
  '("/home/emb/sandbox/sbx-echo/")
  nil)

(desktop-create-buffer 206
  nil
  "sandbox"
  'dired-mode
  nil
  1357
  '(nil nil)
  t
  '("/home/emb/sandbox/")
  nil)

(desktop-create-buffer 206
  "/home/emb/sandbox/AudioHost.h"
  "AudioHost.h"
  'c-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/sandbox/sandbox.c"
  "sandbox.c"
  'c-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/sandbox/sbx-echo/Makefile"
  "Makefile"
  'makefile-gmake-mode
  nil
  1430
  '(nil nil)
  nil
  nil
  '((indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

