;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Thu Aug 16 02:35:37 2012
;; Desktop file format version 206
;; Emacs version 23.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("lerp" "LIB" "((leaf"))
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/aleph/bfin/modules/osc2/osc2.h" "~/aleph/bfin/src/spi.c"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/emb/aleph/bfin/modules/osc2/osc2.h"
  "osc2.h"
  'c-mode
  '(abbrev-mode)
  180
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/bfin/build/bfin-elf/bfin-elf/include/builtins.h"
  "builtins.h"
  'c-mode
  '(abbrev-mode)
  8278
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/aleph/bfin/src/spi.c"
  "spi.c"
  'c-mode
  '(abbrev-mode)
  7691
  '(8342 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/aleph/bfin/src/module.h"
  "module.h"
  'c-mode
  '(abbrev-mode)
  453
  '(210 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

