;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Wed Oct 17 10:10:15 2012
;; Desktop file format version 206
;; Emacs version 23.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("show_" "warning" "#warning" "CUSTOM" "CUSt"))
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/aleph/avr32_proto_test/" "~/aleph/avr32_proto_test/config.mk" "~/aleph/avr32_proto_test/" "~/aleph/avr32_proto/" "~/aleph/common/screen.h" "~/aleph/avr32_proto/src/screen.c" "~/aleph/avr32_proto_test/src/main.c" "~/aleph/avr32_proto/src/memory.c" "~/aleph/avr32_proto/conf/conf_aleph.h" "~/aleph/avr32_proto/src/init.c" "~/aleph/avr32_proto/conf/conf_aleph.h" "~/aleph/avr32_proto_test/src/main.c" "~/avr/asf-3.1.3/avr32/drivers/ebi/sdramc/sdramc.c" "~/aleph/avr32_proto/conf/conf_aleph.h" "~/avr/asf-3.1.3/avr32/boards/" "~/avr/" "~/avr/asf" "~/aleph/avr32_proto/config.mk" "~/aleph/avr32_proto/src/" "~/aleph/avr32_proto/src/board.h" "~/avr/asf-3.1.3/avr32/" "~/aleph/avr32_proto/src/" "~/aleph/avr32_proto_test/config.mk" "~/aleph/avr32_proto/src/app_timers.c" "~/aleph/avr32_proto/src/init.c" "~/aleph/avr32_proto/src/app_timers.c" "~/aleph/avr32_test/src/main.c" "~/aleph/avr32"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  nil
  "avr32_proto_test"
  'dired-mode
  nil
  1014
  '(nil nil)
  t
  '("/home/emb/aleph/avr32_proto_test/")
  nil)

(desktop-create-buffer 206
  "/home/emb/aleph/avr32_proto/src/memory.c"
  "memory.c"
  'c-mode
  '(abbrev-mode)
  3351
  '(2823 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/aleph/avr32_proto_test/config.mk"
  "config.mk"
  'makefile-gmake-mode
  nil
  893
  '(5650 nil)
  nil
  nil
  '((indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/aleph/avr32_proto/src/screen.c"
  "screen.c<2>"
  'c-mode
  '(abbrev-mode)
  5647
  '(7153 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "avr32_proto"
  'dired-mode
  nil
  744
  '(nil nil)
  t
  '("/home/emb/aleph/avr32_proto/")
  nil)

(desktop-create-buffer 206
  "/home/emb/aleph/common/screen.h"
  "screen.h"
  'c-mode
  '(abbrev-mode)
  1957
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/aleph/avr32_proto_test/src/main.c"
  "main.c"
  'c-mode
  '(abbrev-mode)
  6173
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/aleph/avr32_proto/conf/conf_aleph.h"
  "conf_aleph.h"
  'c-mode
  '(abbrev-mode)
  1495
  '(1709 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/aleph/avr32_proto/src/init.c"
  "init.c"
  'c-mode
  '(abbrev-mode)
  1907
  '(10806 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/aleph/avr32_proto/src/mt48lc16m16a2tg75.h"
  "mt48lc16m16a2tg75.h"
  'c-mode
  '(abbrev-mode)
  2407
  '(4753 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "/home/emb/avr/asf-3.1.3/avr32/drivers/ebi/sdramc/sdramc.c"
  "sdramc.c"
  'c-mode
  '(abbrev-mode)
  3797
  '(1848 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "/home/emb/avr/asf-3.1.3/common/boards/board.h"
  "board.h<2>"
  'c-mode
  '(abbrev-mode)
  4672
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "/home/emb/avr/asf-3.1.3/avr32/boards/user_board/user_board.h"
  "user_board.h"
  'c-mode
  '(abbrev-mode)
  1582
  '(1737 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  nil
  "user_board"
  'dired-mode
  nil
  244
  '(nil nil)
  t
  '("/home/emb/avr/asf-3.1.3/avr32/boards/user_board/")
  nil)

(desktop-create-buffer 206
  nil
  "boards<3>"
  'dired-mode
  nil
  341
  '(nil nil)
  t
  '("/home/emb/avr/asf-3.1.3/common/boards/")
  nil)

(desktop-create-buffer 206
  nil
  "common"
  'dired-mode
  nil
  273
  '(nil nil)
  t
  '("/home/emb/avr/asf-3.1.3/common/")
  nil)

(desktop-create-buffer 206
  nil
  "asf-3.1.3"
  'dired-mode
  nil
  335
  '(nil nil)
  t
  '("/home/emb/avr/asf-3.1.3/")
  nil)

(desktop-create-buffer 206
  nil
  "avr"
  'dired-mode
  nil
  251
  '(192 nil)
  t
  '("/home/emb/avr/")
  nil)

(desktop-create-buffer 206
  nil
  "avr32<4>"
  'dired-mode
  nil
  159
  '(nil nil)
  t
  '("/home/emb/avr/avr32/")
  nil)

(desktop-create-buffer 206
  nil
  "include<2>"
  'dired-mode
  nil
  167
  '(nil nil)
  t
  '("/home/emb/avr/avr32/include/")
  nil)

(desktop-create-buffer 206
  nil
  "avr32<5>"
  'dired-mode
  nil
  178
  '(nil nil)
  t
  '("/home/emb/avr/avr32/include/avr32/")
  nil)

(desktop-create-buffer 206
  nil
  "avr32<2>"
  'dired-mode
  nil
  168
  '(477 nil)
  t
  '("/home/emb/avr/asf-3.1.3/avr32/")
  nil)

(desktop-create-buffer 206
  nil
  "boards"
  'dired-mode
  nil
  1029
  '(nil nil)
  t
  '("/home/emb/avr/asf-3.1.3/avr32/boards/")
  nil)

(desktop-create-buffer 206
  nil
  "asf-3.3.0"
  'dired-mode
  nil
  168
  '(nil nil)
  t
  '("/home/emb/avr/asf-3.3.0/")
  nil)

(desktop-create-buffer 206
  nil
  "avr32<3>"
  'dired-mode
  nil
  169
  '(nil nil)
  t
  '("/home/emb/avr/asf-3.3.0/avr32/")
  nil)

(desktop-create-buffer 206
  nil
  "boards<2>"
  'dired-mode
  nil
  176
  '(nil nil)
  t
  '("/home/emb/avr/asf-3.3.0/avr32/boards/")
  nil)

(desktop-create-buffer 206
  nil
  "evk1100<2>"
  'dired-mode
  nil
  186
  '(nil nil)
  t
  '("/home/emb/avr/asf-3.3.0/avr32/boards/evk1100/")
  nil)

(desktop-create-buffer 206
  nil
  "user_board<2>"
  'dired-mode
  nil
  187
  '(nil nil)
  t
  '("/home/emb/avr/asf-3.3.0/avr32/boards/user_board/")
  nil)

(desktop-create-buffer 206
  "/home/emb/avr/asf-3.3.0/avr32/boards/user_board/user_board.h"
  "user_board.h<2>"
  'c-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  nil
  "include"
  'dired-mode
  nil
  209
  '(nil nil)
  t
  '("/home/emb/avr/include/")
  nil)

(desktop-create-buffer 206
  nil
  "make"
  'dired-mode
  nil
  366
  '(nil nil)
  t
  '("/home/emb/avr/asf-3.1.3/avr32/utils/make/")
  nil)

(desktop-create-buffer 206
  "/home/emb/avr/asf-3.1.3/avr32/utils/make/Makefile.in"
  "Makefile.in"
  'makefile-gmake-mode
  nil
  15801
  '(15244 nil)
  nil
  nil
  '((indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "utils"
  'dired-mode
  nil
  487
  '(nil nil)
  t
  '("/home/emb/avr/asf-3.1.3/avr32/utils/")
  nil)

(desktop-create-buffer 206
  nil
  "~"
  'dired-mode
  nil
  207
  '(nil nil)
  t
  '("/home/emb/")
  nil)

(desktop-create-buffer 206
  "/home/emb/aleph/avr32_proto/src/board.h"
  "board.h"
  'c-mode
  '(abbrev-mode)
  13243
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  nil
  "evk1100"
  'dired-mode
  nil
  185
  '(nil nil)
  t
  '("/home/emb/avr/asf-3.1.3/avr32/boards/evk1100/")
  nil)

(desktop-create-buffer 206
  nil
  "src<2>"
  'dired-mode
  nil
  2564
  '(nil nil)
  t
  '("/home/emb/aleph/avr32_proto/src/")
  nil)

(desktop-create-buffer 206
  "/home/emb/aleph/avr32_proto/config.mk"
  "config.mk<2>"
  'makefile-gmake-mode
  nil
  5737
  '(5730 nil)
  nil
  nil
  '((indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/aleph/avr32/src/adc.c"
  "adc.c"
  'c-mode
  '(abbrev-mode)
  2767
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/aleph/avr32_proto/src/app_timers.c"
  "app_timers.c<2>"
  'c-mode
  '(abbrev-mode)
  1442
  '(2162 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/aleph/avr32/src/screen.c"
  "screen.c"
  'c-mode
  '(abbrev-mode)
  6652
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "avr32"
  'dired-mode
  nil
  941
  '(nil nil)
  t
  '("/home/emb/aleph/avr32/")
  nil)

(desktop-create-buffer 206
  nil
  "src"
  'dired-mode
  nil
  172
  '(nil nil)
  t
  '("/home/emb/aleph/avr32/src/")
  nil)

