;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Wed Sep 11 15:36:53 2013
;; Desktop file format version 206
;; Emacs version 23.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("config" "read" "init_ctl" "redraw" "check_" "init_ctl" "ins" "scene" "DSP" "net_init" "scene" "set" "set_param" "set_para" "pnode_t" "numParams"))
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/aleph/avr32/" "~/aleph/bees/" "~/aleph/asf-3.7.3/avr32/utils/make/Makefile.avr32.in" "~/aleph/asf-3.7.3/avr32/utils/make/" "~/aleph/avr32/Makefile" "~/aleph/avr32/config.mk" "~/aleph/bees/net_protected.h" "~/aleph/bees/scene.c" "~/aleph/avr32/src/flash.c" "~/aleph/avr32/src/flash.h" "~/aleph/avr32/src/flash.c" "~/aleph/bees/scene.c" "~/aleph/avr32/src/files.h" "~/aleph/bees/scene.c" "~/aleph/bees/module_no.h" "~/aleph/" "~/aleph/bees/net.c" "~/aleph/bees/menu.c" "~/aleph/bees/menu.h" "~/aleph/avr32/src/flash.c" "~/aleph/avr32/src/main.c" "~/aleph/bees/scene.h" "~/aleph/bees/key_handler.c" "~/aleph/avr32/src/flash.h" "~/aleph/avr32/src/files.h" "~/aleph/bees/module.h" "~/aleph/bees/scene.h" "~/aleph/bees/scene_types.h" "~/aleph/bees/net.c" "~/aleph/bees/scene.h"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  nil
  "~"
  'dired-mode
  nil
  1467
  '(nil nil)
  t
  '("/home/emb/")
  nil)

(desktop-create-buffer 206
  "/home/emb/aleph/avr32_test/src/main.c"
  "main.c"
  'c-mode
  '(abbrev-mode semantic-highlight-edits-mode semantic-show-unmatched-syntax-mode semantic-show-parser-state-mode semantic-stickyfunc-mode semantic-highlight-func-mode senator-minor-mode semantic-idle-scheduler-mode semantic-idle-summary-mode semantic-idle-local-symbol-highlight-mode semantic-idle-completions-mode semantic-mru-bookmark-mode semantic-decoration-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/aleph/todo.txt"
  "todo.txt"
  'text-mode
  nil
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/aleph/avr32/src/flash.h"
  "flash.h"
  'c-mode
  '(abbrev-mode semantic-highlight-edits-mode semantic-show-unmatched-syntax-mode semantic-show-parser-state-mode semantic-stickyfunc-mode semantic-highlight-func-mode senator-minor-mode semantic-idle-scheduler-mode semantic-idle-summary-mode semantic-idle-local-symbol-highlight-mode semantic-idle-completions-mode semantic-mru-bookmark-mode semantic-decoration-mode)
  314
  '(773 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "avr32"
  'dired-mode
  nil
  774
  '(nil nil)
  t
  '("/home/emb/aleph/avr32/")
  nil)

(desktop-create-buffer 206
  "/home/emb/aleph/avr32/src/flash.c"
  "flash.c<2>"
  'c-mode
  '(abbrev-mode semantic-highlight-edits-mode semantic-show-unmatched-syntax-mode semantic-show-parser-state-mode semantic-stickyfunc-mode semantic-highlight-func-mode senator-minor-mode semantic-idle-scheduler-mode semantic-idle-summary-mode semantic-idle-local-symbol-highlight-mode semantic-idle-completions-mode semantic-mru-bookmark-mode semantic-decoration-mode)
  1453
  '(2101 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/aleph/asf-3.7.3/avr32/utils/make/Makefile.avr32.in"
  "Makefile.avr32.in"
  'fundamental-mode
  nil
  12451
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "make"
  'dired-mode
  nil
  224
  '(nil nil)
  t
  '("/home/emb/aleph/asf-3.7.3/avr32/utils/make/")
  nil)

(desktop-create-buffer 206
  "/home/emb/aleph/avr32/src/main.c"
  "main.c"
  'c-mode
  '(abbrev-mode semantic-highlight-edits-mode semantic-show-unmatched-syntax-mode semantic-show-parser-state-mode semantic-stickyfunc-mode semantic-highlight-func-mode senator-minor-mode semantic-idle-scheduler-mode semantic-idle-summary-mode semantic-idle-local-symbol-highlight-mode semantic-idle-completions-mode semantic-mru-bookmark-mode semantic-decoration-mode)
  3755
  '(3382 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/aleph/common/module_common.h"
  "module_common.h"
  'c-mode
  '(abbrev-mode semantic-highlight-edits-mode semantic-show-unmatched-syntax-mode semantic-show-parser-state-mode semantic-stickyfunc-mode semantic-highlight-func-mode senator-minor-mode semantic-idle-scheduler-mode semantic-idle-summary-mode semantic-idle-local-symbol-highlight-mode semantic-idle-completions-mode semantic-mru-bookmark-mode semantic-decoration-mode)
  71
  '(376 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "common"
  'dired-mode
  nil
  1083
  '(1083 nil)
  t
  '("/home/emb/aleph/common/")
  nil)

(desktop-create-buffer 206
  nil
  "aleph"
  'dired-mode
  nil
  1015
  '(nil nil)
  t
  '("/home/emb/aleph/")
  nil)

(desktop-create-buffer 206
  "/home/emb/aleph/avr32/src/memory.h"
  "memory.h"
  'c-mode
  '(abbrev-mode semantic-highlight-edits-mode semantic-show-unmatched-syntax-mode semantic-show-parser-state-mode semantic-stickyfunc-mode semantic-highlight-func-mode senator-minor-mode semantic-idle-scheduler-mode semantic-idle-summary-mode semantic-idle-local-symbol-highlight-mode semantic-idle-completions-mode semantic-mru-bookmark-mode semantic-decoration-mode)
  444
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "src"
  'dired-mode
  nil
  3048
  '(nil nil)
  t
  '("/home/emb/aleph/avr32/src/")
  nil)

(desktop-create-buffer 206
  "/home/emb/aleph/common/fix.h"
  "fix.h"
  'c-mode
  '(abbrev-mode semantic-highlight-edits-mode semantic-show-unmatched-syntax-mode semantic-show-parser-state-mode semantic-stickyfunc-mode semantic-highlight-func-mode senator-minor-mode semantic-idle-scheduler-mode semantic-idle-summary-mode semantic-idle-local-symbol-highlight-mode semantic-idle-completions-mode semantic-mru-bookmark-mode semantic-decoration-mode)
  1537
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/aleph/common/libfixmath/fix16.h"
  "fix16.h"
  'c-mode
  '(abbrev-mode semantic-highlight-edits-mode semantic-show-unmatched-syntax-mode semantic-show-parser-state-mode semantic-stickyfunc-mode semantic-highlight-func-mode senator-minor-mode semantic-idle-scheduler-mode semantic-idle-summary-mode semantic-idle-local-symbol-highlight-mode semantic-idle-completions-mode semantic-mru-bookmark-mode semantic-decoration-mode)
  505
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-dos)))

(desktop-create-buffer 206
  "/home/emb/aleph/avr32/src/encoders.c"
  "encoders.c"
  'c-mode
  '(abbrev-mode semantic-highlight-edits-mode semantic-show-unmatched-syntax-mode semantic-show-parser-state-mode semantic-stickyfunc-mode semantic-highlight-func-mode senator-minor-mode semantic-idle-scheduler-mode semantic-idle-summary-mode semantic-idle-local-symbol-highlight-mode semantic-idle-completions-mode semantic-mru-bookmark-mode semantic-decoration-mode)
  1062
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "avr"
  'dired-mode
  nil
  199
  '(nil nil)
  t
  '("/home/emb/avr/")
  nil)

(desktop-create-buffer 206
  "/home/emb/aleph/avr32/src/global.h"
  "global.h"
  'c-mode
  '(abbrev-mode semantic-highlight-edits-mode semantic-show-unmatched-syntax-mode semantic-show-parser-state-mode semantic-stickyfunc-mode semantic-highlight-func-mode senator-minor-mode semantic-idle-scheduler-mode semantic-idle-summary-mode semantic-idle-local-symbol-highlight-mode semantic-idle-completions-mode semantic-mru-bookmark-mode semantic-decoration-mode)
  179
  '(546 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/aleph/avr32/src/usb/gamepad/uhi_hid_gamepad.c"
  "uhi_hid_gamepad.c"
  'c-mode
  '(abbrev-mode semantic-highlight-edits-mode semantic-show-unmatched-syntax-mode semantic-show-parser-state-mode semantic-stickyfunc-mode semantic-highlight-func-mode senator-minor-mode semantic-idle-scheduler-mode semantic-idle-summary-mode semantic-idle-local-symbol-highlight-mode semantic-idle-completions-mode semantic-mru-bookmark-mode semantic-decoration-mode)
  7340
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/aleph/avr32/src/bfin.h"
  "bfin.h"
  'c-mode
  '(abbrev-mode semantic-highlight-edits-mode semantic-show-unmatched-syntax-mode semantic-show-parser-state-mode semantic-stickyfunc-mode semantic-highlight-func-mode senator-minor-mode semantic-idle-scheduler-mode semantic-idle-summary-mode semantic-idle-local-symbol-highlight-mode semantic-idle-completions-mode semantic-mru-bookmark-mode semantic-decoration-mode)
  357
  '(874 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/aleph/common/fract32_emu.c"
  "fract32_emu.c"
  'c-mode
  '(abbrev-mode semantic-highlight-edits-mode semantic-show-unmatched-syntax-mode semantic-show-parser-state-mode semantic-stickyfunc-mode semantic-highlight-func-mode senator-minor-mode semantic-idle-scheduler-mode semantic-idle-summary-mode semantic-idle-local-symbol-highlight-mode semantic-idle-completions-mode semantic-mru-bookmark-mode semantic-decoration-mode)
  1792
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/aleph/common/fract32_emu.h"
  "fract32_emu.h"
  'c-mode
  '(abbrev-mode semantic-highlight-edits-mode semantic-show-unmatched-syntax-mode semantic-show-parser-state-mode semantic-stickyfunc-mode semantic-highlight-func-mode senator-minor-mode semantic-idle-scheduler-mode semantic-idle-summary-mode semantic-idle-local-symbol-highlight-mode semantic-idle-completions-mode semantic-mru-bookmark-mode semantic-decoration-mode)
  998
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "src<2>"
  'dired-mode
  nil
  324
  '(nil nil)
  t
  '("/home/emb/aleph/boot/src/")
  nil)

(desktop-create-buffer 206
  "/home/emb/aleph/avr32/src/bfin.c"
  "bfin.c"
  'c-mode
  '(abbrev-mode semantic-highlight-edits-mode semantic-show-unmatched-syntax-mode semantic-show-parser-state-mode semantic-stickyfunc-mode semantic-highlight-func-mode senator-minor-mode semantic-idle-scheduler-mode semantic-idle-summary-mode semantic-idle-local-symbol-highlight-mode semantic-idle-completions-mode semantic-mru-bookmark-mode semantic-decoration-mode)
  1486
  '(6828 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "boot"
  'dired-mode
  nil
  211
  '(nil nil)
  t
  '("/home/emb/aleph/boot/")
  nil)

